@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

html {
  scroll-behavior: smooth;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* Button variants */
  .btn-solid {
    @apply bg-[#0A3D62] text-white font-semibold py-2 px-4 rounded-md hover:bg-[#092c48] transition;
  }

  .btn-outline {
    @apply border border-[#0A3D62] text-[#0A3D62] bg-white font-semibold py-2 px-4 rounded-md hover:bg-[#f5f8fa] transition;
  }
}
